.form {
  margin: 15px 0;
  padding: 15px;
  font-size: 1rem;
  border: 2px solid #e8e8e8;
  border-radius: 2px;

  &__input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    font-family: var(--font-family);
    background-color: transparent;
    border: 2px solid var(--input-border-color);
    border-radius: 2px;
    appearance: none;

    &:focus {
      border-color: var(--input-focus-color);
      outline: none;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
